.about-section {
    padding: 50px;
    text-align: center;
    color: black;
    line-height: 2.0;
  }

  .mark{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .about-section h1{
    margin-top: -4%;

  }


  

  

 

  

  